.modulecard {
  padding: 20px;
  background-color: var(--bg3, #212121);
  border-radius: var(--border-radius2, 12px);
  height: 170px;
}

h3.mbottom {
  margin-bottom: 10px;
}

p.paragraph {
  text-align: left;
}

.cardcontent {
  height: 100%;
}
